---
import CardList from '../components/CardList.astro';
import DeliveryFAQ from '../components/DeliveryFAQ.astro';
import Hero from '../components/Hero.astro';
import ProductCardList from '../components/ProductCardList.astro';
import RestaurantCardList from '../components/RestaurantCardList.astro';
import SearchFood from '../components/SearchFood.astro';
import Features from '../components/ui/sections/Features.astro';
import Layout from '../layouts/Layout.astro';
import App from '../components/ui/sections/App.astro'
import CTA from '../components/ui/sections/CTAList.astro';
---

<Layout title="FoodWagon">
	<main class="bg-white">
		<Hero />
		<CardList />
		<DeliveryFAQ />
		<ProductCardList />
		<RestaurantCardList />
		<SearchFood />
		<Features /> 
		<App />
		<CTA />
	</main>
</Layout>

